body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
nav{
  text-align: center;
}
nav a{
   background-color: gray; padding-left: 10px; padding-right: 10px; 
}
#featured-property p ,figure {
display: block;
margin-left: auto;
margin-right: auto;
width: 900;
text-align: center;
}


figcaption{
  font-size: small; text-align: center;
}
#featured-property > p {
 width: 800px; font-size: larger;
}
div{
  background:red; float: left;width: 25%; text-align: center; 
}